## Removendo arquivos desnecessários do servidor

/server/node_modules
/server/package-lock.json

## Removendo arquivos desnecessários da aplicação (frontend)

/app/frontend/node_modules
/app/frontend/package-lock.json